server {
  listen 80;
  server_name 34.27.241.198;

  location / {
    proxy_pass http://35.202.76.153:8080;
  }
}

server {
  listen 443 ssl;
  server_name localhost;
  ssl_certificate /etc/nginx/conf.d/selfsigned.crt;
  ssl_certificate_key /etc/nginx/conf.d/selfsigned.key;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers HIGH:!aNULL:!MD5;

  location / {
    proxy_pass http://35.202.76.153:8080;
  }
}
